<p>
  <strong>Name</strong>
  <%= @student.name %>
</p>
<table>
  <tr><th>Course Name</th><th>Grade</th></tr>
  <% @student.memberships.each do |membership| %>
    <tr>
      <td><%= membership.course.name %></td> 
      <td><%= membership.final_grade %></td>
      <td><%= form_for :membership, url: membership_path(membership), method: 'put' do |f| %>
          <%= f.text_field :final_grade %>
          <%= f.submit "Update Final Grade" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<h3><%= link_to "All Students", students_path %></h3>

<%= form_for :membership, url: memberships_path do |f| %>
  <%= f.collection_select :course_id, Course.all, :id, :name %>
  <%= f.hidden_field :student_id, value: @student.id %>
  <%= f.submit "Add to Course" %>
<% end %>
