<p>
  <strong>Course Name</strong>
  <%= @course.name %>
  <% if !@course.memberships.empty? && !@course.memberships.map(&:final_grade).compact.empty? %>
    <strong>Average Grade</strong>
    <%= '%3.2f' % @course.memberships.average(:final_grade) %>
  <% end %>
</p>

<!-- Students in this course -->
<table>
  <tr><th>Student Name</th><th>Final Grade</th></tr>
  <% @course.memberships.each do |membership| %>
    <tr>
      <td><%= membership.student.name %></td>
      <td><%= (membership.final_grade ? membership.final_grade : 'N/A') %></td>
      <td>
        <%= form_for :membership, url: membership_path(membership), method: 'delete' do |f| %>
        <%= f.submit "Remove Student" %>
        <% end %>        
      </td>
      <td>
        <%= form_for :membership, url: membership_path(membership), method: 'put' do |f| %>
          <%= f.text_field :final_grade %>
          <%= f.submit "Update Final Grade" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<h3><%= link_to "All Courses", courses_path %></h3>
<% if @course.can_add_students? %>
  <h3>Add Students</h3>
  <%= form_for :membership, url: memberships_path do |f| %>
    <%= f.collection_select :student_id, @course.students_to_add, :id, :name %>
    <%= f.hidden_field :course_id, value: @course.id %>
    <%= f.submit "Add Student" %>
  <% end %>
<% end %>
