<p>
  <strong>Course Name</strong>
  <%= @course.name %>
  <%= avg_grade(@course) %>
</p>

<!-- Students in this course -->
<table>
  <tr><th>Student Name</th><th>Final Grade</th></tr>
  <% @course.memberships.each do |membership| %>
    <tr>
      <td><%= membership.student.name %></td>
      <td><%= final_grade(membership) %></td>
      <td>
        <%= render partial: 'remove_student', locals: {membership: membership} %>
      </td>
      <td>
        <%= render partial: 'update_final_grade', locals: {membership: membership} %>
      </td>
    </tr>
  <% end %>
</table>

<h3><%= link_to "All Courses", courses_path %></h3>
<% if @course.can_add_students? %>
  <h3>Add Students</h3>
  <%= form_for :membership, url: memberships_path do |f| %>
    <%= f.collection_select :student_id, @course.students_to_add, :id, :name %>
    <%= f.hidden_field :course_id, value: @course.id %>
    <%= f.submit "Add Student" %>
  <% end %>
<% end %>
